* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    font-family: 'Playfair Display', serif;
    text-align: justify;

}

::-webkit-scrollbar {
    overflow: hidden;
}